body {
    margin: 0;
}
header {
    padding: 40px;
    background-color: #575757;
    background-image: url(../images/header_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
}

h1 {
    margin: 0;
}

div {
    padding-top: 5px;
    text-align: center;
}

a {
display: block;
padding: 10px;
margin-bottom: 5px;
background-color: #E5E5E5;
color: inherit;
text-decoration: none;
}

a:last-child {
    margin-bottom: 0;
}

main {
padding: 10px;
}

aside {
    padding: 10px;
    background-color: #E5E5E5;
    margin-bottom: 5px;
}

footer {
    padding: 10px;
    background-color: #E5E5E5;
    text-align: center;
}

@media screen and (min-width: 425px) {
div {
    display: flex;
    flex-wrap: wrap;
    }

 nav {
     width: 20%;
 }

 main {
     width: 80%;
 }

}


@media screen and (min-width: 768px) {
    div {
        align-items: flex-start;
    }

    main {
        width: 60%;
    }

    aside {
        width: 20%;
        margin-bottom: 0;
    }
}